<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduationdesign.springbootsmartinsole.mapper.BindInsoleMapper">


    <insert id="bind">
        insert into bind_insole(sportman_id,left_id,right_id,bind)
        values (#{sportman_id},#{left_id},#{right_id},1)
    </insert>
    <update id="cancel">
        update bind_insole set bind=0
        where sportman_id=#{sportman_id} and left_id=#{left_id} and right_id=#{right_id}
    </update>
    <select id="selectById" resultType="com.graduationdesign.springbootsmartinsole.entity.BindInsole">
        select * from bind_insole where sportman_id=#{sportman_id}
    </select>
</mapper>
