<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduationdesign.springbootsmartinsole.mapper.ExpertInfoMapper">
    <insert id="insert">
        insert into expertinfo(expert_id,password,expert_name,phonenumber,height,weight,worktime,selfintro,profile_picture)
        values(#{expert_id},#{password},#{expert_name},#{phonenumber},#{height},#{weight},#{worktime},#{selfintro},#{profile_picture})
    </insert>
    <update id="update">
        update expertinfo set
        <if test="expert_name!=null">
            expert_name=#{expert_name},
        </if>
        <if test="phonenumber!=null">
            phonenumber=#{phonenumber},
        </if>
        height=#{height},weight=#{weight},worktime=#{worktime},selfintro=#{selfintro},
        profile_picture=#{profile_picture}
        where expert_id=#{expert_id}
    </update>
    <update id="modifyPass">
        update expertinfo set
        <if test="password!=null">
            password=#{password}
        </if>
        where expert_id=#{expert_id}
    </update>
    <select id="FindByPass" resultType="java.lang.String">
        select password from expertinfo where phonenumber=#{phonenumber}
    </select>

</mapper>