<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduationdesign.springbootsmartinsole.mapper.BindExpertMapper">


    <insert id="bind">
        insert into bind_expert(sportman_id,expert_id,bind)
        values (#{sportman_id},#{expert_id},1)
    </insert>
    <update id="cancel">
        update bind_expert set bind=0
        where sportman_id=#{sportman_id} and expert_id=#{expert_id}
    </update>
    <update id="update_bind">
        update sportmaninfo set expert_id=#{expert_id}
        where sportman_id=#{sportman_id}
    </update>
    <update id="update_cancel">
        update sportmaninfo set expert_id=0
        where sportman_id=#{sportman_id}
    </update>

    <update id="update">
        update bind_expert
        set bind=1
        where sportman_id=#{sportman_id} and expert_id=#{expert_id}
    </update>

    <select id="search" resultType="com.graduationdesign.springbootsmartinsole.entity.BindExpert">
        select * from bind_expert where expert_id=#{expert_id}
    </select>
    <select id="searchListByexpert_id" resultType="com.graduationdesign.springbootsmartinsole.entity.BindExpert">
        select * from bind_expert where expert_id=#{expert_id} and bind=1
    </select>
    <select id="search_history" resultType="com.graduationdesign.springbootsmartinsole.entity.ExpertInfo">
        select * from expertinfo where expert_id in
        (select expert_id from bind_expert where sportman_id=#{sportman_id})
    </select>
    <select id="searchExpert" resultType="java.lang.Integer">
        select expert_id from bind_expert where sportman_id=#{sportman_id}
    </select>
    <select id="ifnull" resultType="com.graduationdesign.springbootsmartinsole.entity.BindExpert">
        select * from bind_expert where sportman_id=#{sportman_id} and expert_id=#{expert_id}
    </select>


</mapper>
